@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Silkscreen:wght@700&display=swap');

$font-header: 'Silkscreen', sans-serif;
$main-font: 'Inconsolata', sans-serif;
$bg-colour: rgb(40, 40, 40);
$main-colour: rgb(255, 185, 55);
$icon-main-colour: invert(71%) sepia(44%) saturate(772%) hue-rotate(343deg)
  brightness(105%) contrast(101%);
$icon-disabled-colour: invert(59%) sepia(0%) saturate(425%) hue-rotate(145deg)
  brightness(85%) contrast(94%);
$button-disabled-colour: grey;
$ship-preview-colour: grey;
$ship-preview-error-colour: rgb(255, 0, 0);
$ship-placed-colour: rgb(255, 185, 55);
$ship-placed-player-board-colour: rgb(95, 69, 21);
$ship-hit-colour: rgb(73, 195, 40);
$ship-missed-colour: rgb(0, 90, 128);
$event-log-ship-sunk-colour: rgb(255, 0, 0);

// Helper classes
.default-cursor {
  cursor: default !important;
}

.icon-disabled {
  filter: $icon-disabled-colour !important;
}

.bold {
  font-weight: bold;
}
