@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Silkscreen:wght@700&display=swap');

$font-header: 'Silkscreen', sans-serif;
$main-font: 'Inconsolata', sans-serif;
$bg-colour: rgb(40, 40, 40);
$main-colour: rgb(255, 185, 55);
$icon-main-colour: invert(71%) sepia(44%) saturate(772%) hue-rotate(343deg)
  brightness(105%) contrast(101%);
$button-disabled-colour: grey;
$ship-preview-colour: grey;
$ship-preview-error-colour: rgb(255, 0, 0);
$ship-placed-colour: rgb(255, 185, 55);
