@use 'utilities' as *;
@use 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  background-color: $bg-colour;
  color: $main-colour;
}

// Setting background-color this way ensures that changing icon colour works
img {
  background-color: transparent;
  filter: $icon-main-colour;
}

dialog[open] {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  width: 500px;
  display: grid;
  border-radius: 16px;
  outline: none;

  &::backdrop {
    backdrop-filter: blur(4px);
  }

  .starting-dialog,
  .ship-placement-dialog {
    display: grid;
    align-content: space-evenly;

    img[alt='Settings Icon'] {
      height: 32px;
      width: 32px;
      position: absolute;
      right: 3%;
      top: 3%;
      cursor: pointer;
    }

    img[alt='Rotate Ship Icon'],
    img[alt='Place Ships Randomly Icon'] {
      height: 36px;
      width: 36px;
      position: absolute;
      top: 50%;
      cursor: pointer;
    }

    img[alt='Rotate Ship Icon'] {
      right: 6%;
    }

    img[alt='Place Ships Randomly Icon'] {
      left: 6%;
    }

    .dialog-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .dialog-title,
    .player-1,
    .player-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    .player-1,
    .player-2 {
      font-size: 1.2rem;

      label {
        padding: 8px;
        cursor: pointer;

        &:hover,
        &.selected {
          outline: 2px solid $main-colour;
          border-radius: 8px;
        }
      }
    }

    .player-1-name,
    .player-2-name {
      justify-self: center;

      input {
        outline: none;
        border: none;
        width: 22ch;
        padding: 8px;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 8px;

        &::placeholder {
          color: $main-colour;
        }
      }
    }

    .ship-placement-board {
      aspect-ratio: 1 / 1;
      width: 60%;
      display: flex;
      flex-wrap: wrap;

      .square {
        aspect-ratio: 1 / 1;
        height: calc(100% / 11);
        width: calc(100% / 11);
        outline: 1px solid $main-colour;
        cursor: pointer;
      }

      .square.header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        outline: none;
        cursor: default;
      }

      .square.preview {
        background-color: $ship-preview-colour;
      }

      .square.placed {
        background-color: $ship-placed-colour;
      }

      .square.error {
        background-color: $ship-preview-error-colour;
      }
    }

    form {
      display: grid;
      gap: 24px;
    }

    button[type='submit'],
    button[type='button'] {
      outline: 2px solid $main-colour;
      border: none;
      height: 50px;
      width: 200px;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      place-self: center;

      &:hover {
        outline: none;
        background-color: $main-colour;
        color: $bg-colour;
      }
    }

    button[disabled] {
      outline: 2px solid $button-disabled-colour;
      color: grey;
      cursor: not-allowed;

      &:hover {
        outline: 2px solid $button-disabled-colour;
        background-color: $bg-colour;
        color: $button-disabled-colour;
      }
    }
  }

  .ship-placement-dialog {
    justify-items: center;

    button[type='button'] {
      width: 200px;
    }

    button[disabled] {
      outline: 2px solid $button-disabled-colour;
      color: grey;
      cursor: not-allowed;

      &:hover {
        outline: 2px solid $button-disabled-colour;
        background-color: $bg-colour;
        color: $button-disabled-colour;
      }
    }
  }
}

body {
  height: 100svh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 16px;
  gap: 16px;
}

header {
  display: flex;
  justify-content: center;

  .title {
    font-family: $font-header;
    font-size: 5rem;
  }
}

main {
  display: grid;
  place-items: center;

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    place-items: center;
    gap: 16px;

    p[class*='name'] {
      font-size: 2rem;
    }

    .player-1-board,
    .player-2-board {
      aspect-ratio: 1 / 1;
      width: 70%;
      display: flex;
      flex-wrap: wrap;

      .square {
        aspect-ratio: 1 / 1;
        height: calc(100% / 11);
        width: calc(100% / 11);
        outline: 1px solid $main-colour;
        cursor: pointer;
      }

      .square.header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        outline: none;
        cursor: default;
      }

      .square.placed {
        background-color: $ship-placed-player-board-colour;
      }

      .square.hit {
        background-color: $ship-hit-colour;
        cursor: default;
      }

      .square.miss {
        background-color: $ship-missed-colour;
        cursor: default;
      }
    }

    .event-log-title {
      margin-top: 32px;
      grid-column: 1 / 3;
      text-align: center;
      font-size: 2rem;
    }

    .event-log {
      width: 700px;
      height: 150px;
      border: 2px solid $main-colour;
      border-radius: 8px;
      grid-column: 1 / 3;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 9px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $main-colour;
        border-radius: 10px;
        border: transparent;
      }

      .event {
        display: flex;
        border-bottom: 1px solid $main-colour;
        padding: 8px 0;

        .turn {
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 24px;
        }

        .description {
          width: 100%;
          text-align: center;
        }

        .description.hit {
          border-left: 5px solid $event-log-ship-hit-colour;
        }

        .description.ship-sunk {
          border-left: 5px solid $event-log-ship-sunk-colour;
        }

        .description.missed {
          border-left: 5px solid $event-log-ship-missed-colour;
        }

        .description.game-over {
          border-left: 5px solid $main-colour;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  img {
    height: 24px;
    width: 24px;
    filter: none;
  }
}

// Load media queries
// Goes at the end
@include media.queries;
