@use 'utilities' as *;
@use 'media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  background-color: $bg-colour;
  color: $main-colour;
}

body {
  height: 100svh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 16px;
  gap: 16px;
}

header {
  display: flex;
  justify-content: center;

  .title {
    font-family: $font-header;
    font-size: 5rem;
  }
}

main {
  display: flex;

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;

    .player-board,
    .enemy-board {
      aspect-ratio: 1 / 1;
      width: 40%;
      display: flex;
      flex-wrap: wrap;

      .square {
        aspect-ratio: 1 / 1;
        height: calc(100% / 11);
        width: calc(100% / 11);
        outline: 1px solid $main-colour;
      }

      .square.header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        outline: none;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  img {
    height: 24px;
    width: 24px;
  }
}

// Load media queries
// Goes at the end
@include media.queries;
